body{
    background-image:url(fffundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

table, tr, td{font-size: 150%;
   padding: 10px 5px ;
   color: rgb(104, 17, 82);
   border-radius: 15px;
   font-family: cursive;


}

h1{
    font-size: 400%;
    color:rgba(245, 245, 245, 0.644);
    font-family: fantasy;
    margin-left: auto;
}



.coluna{
    background-image: url(fundo2.jpg);
    background-repeat: no-repeat;
    background-size: 0%;
}

.coluna1{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}